<h1>Rate my day</h1>

<%= form_for :daily_rating, { method: :post, url: daily_ratings_path } do |f| %>
  <%= f.label("Happiness Rating: ") %>
  <%= f.range_field(:rating, { in: 1..10, step: 1 }) %>
  <%= f.submit %>
<% end %>
